<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Covid Care system</title>
  </head>
<body>
    <h2>Covid symptoms checker</h2>
    <br>
    <div class="container bg-light text-black">
        <form action="{ url_for('Disease')}" method="post">
            <div class="form-group">
              <label for="formGroupExampleInput">Feeling fever?</label>
              <input type="text" class="form-control" name="experience"  required="required" />
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Tiredness</label>
              <input type="text" class="form-control" name="test_score"  required="required" />
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Difficulty-in-Breathing </label>
              <input type="text" class="form-control" name="interview_score"  required="required" />
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">None_Symptops</label>
              <input type="text" class="form-control" name="experience2"  required="required" />
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Pains</label>
              <input type="text" class="form-control" name="test_score2"  required="required" />
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Nasal-Congestion  </label>
              <input type="text" class="form-control" name="interview_score2"  required="required" />
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Diarrhea</label>
              <input type="text" class="form-control" name="experience3"  required="required" />
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Your Age</label>
              <input type="text" class="form-control" name="test_score3"  required="required" />
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Gender</label>
              <input type="text" class="form-control" name="interview_score3"  required="required" />
            </div>
            
            
              <a class="btn btn-primary " href="{{ url_for('Pred') }}" role="button" style="margin-left: 200px;">Submit</a>
          </form>
          </div>
          <br>
           <br>
           {{ prediction_text }}
        
</body>